addons:
  postgresql: "9.6"

env:
  - POSTGRESQL_DATABASE=travis_ci_test POSTGRESQL_USER=postgres POSTGRESQL_PASSWORD=

before_script:
  - psql -U postgres -c 'create extension "uuid-ossp";'
  - psql -U postgres -c 'create database "travis_ci_test";'
  - bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare

before_install:
  - sudo apt-get install -y libopenscap8

services:
  - postgresql

script: 'bundle exec rake validate'

language: ruby
rvm:
  - 2.3
  - 2.4
  - 2.5
