version: "3"
services:
  db:
    image: postgres
    restart: on-failure
    volumes:
      - /tmp/insights-compliance-db:/var/lib/postgresql/data:z
  rails:
    build: .
    image: compliance-backend-rails
    tty: true
    stdin_open: true
    restart: on-failure
    entrypoint: ./entrypoint.sh
    ports:
      - '3000:3000'
    volumes:
      - .:/app:z
    depends_on:
      - db
      - prometheus
  racecar:
    image: compliance-backend-rails
    restart: on-failure
    entrypoint: bash -c 'KAFKAMQ=kafka:29092 bundle exec racecar -l log/racecar.log ComplianceReportsConsumer'
    volumes:
      - .:/app:z
    depends_on:
      - db
      - prometheus
  prometheus:
    image: compliance-backend-rails
    restart: on-failure
    volumes:
      - .:/app:z
    entrypoint: bash -c 'bundle exec prometheus_exporter -c lib/graphql_collector.rb'
  sidekiq:
    image: compliance-backend-rails
    restart: on-failure
    volumes:
      - .:/app:z
    depends_on:
      - redis
    entrypoint: bash -c 'bundle exec sidekiq'
  redis:
    image: redis:latest
networks:
  default:
    external:
      name: docker_default # should match insights-upload's network name
