version: "3"
services:
  db:
    image: postgres
    restart: on-failure
    environment:
        - POSTGRES_PASSWORD=postgres
    volumes:
      - ./tmp/insights-compliance-db:/var/lib/postgresql/data:z
  rails:
    build: .
    image: compliance-backend-rails
    tty: true
    stdin_open: true
    restart: on-failure
    environment:
      - DATABASE_SERVICE_NAME=postgres
      - POSTGRES_SERVICE_HOST=db
      - POSTGRESQL_DATABASE=compliance_dev
      - POSTGRESQL_TEST_DATABASE=compliance_test
      - POSTGRESQL_USER=postgres
      - SETTINGS__PROMETHEUS_EXPORTER_HOST=prometheus
      - DISABLE_DATABASE_ENVIRONMENT_CHECK=1
    ports:
      - '3000:3000'
    volumes:
      - .:/app:z
    depends_on:
      - db
      - prometheus
      - redis
  reports-consumer:
    image: compliance-backend-rails
    restart: on-failure
    command: bundle exec racecar -l log/consumer.log ComplianceReportsConsumer
    volumes:
      - .:/app:z
    environment:
      - SETTINGS__REDIS_URL=redis:6379
      - SETTINGS__PROMETHEUS_EXPORTER_HOST=prometheus
      - DATABASE_SERVICE_NAME=postgres
      - POSTGRES_SERVICE_HOST=db
      - POSTGRESQL_DATABASE=compliance_dev
      - POSTGRESQL_TEST_DATABASE=compliance_test
      - POSTGRESQL_USER=postgres
      - KAFKAMQ=kafka:29092
    depends_on:
      - db
      - prometheus
  # inventory-consumer:
  #   image: compliance-backend-rails
  #   restart: on-failure
  #   entrypoint: bash -c 'KAFKAMQ=kafka:29092 bundle exec racecar -l log/inventory-consumer.log InventoryEventsConsumer'
  #   volumes:
  #     - .:/app:z
  #   depends_on:
  #     - db
  #     - prometheus
  prometheus:
    image: compliance-backend-rails
    tty: true
    stdin_open: true
    environment:
      - DATABASE_SERVICE_NAME=postgres
      - POSTGRES_SERVICE_HOST=db
      - POSTGRESQL_DATABASE=compliance_dev
      - POSTGRESQL_USER=postgres
      - SETTINGS__PROMETHEUS_EXPORTER_HOST=prometheus
      - RAILS_ENV=development
      - APP_NAME=compliance
      - PATH_PREFIX=/api
      - RAILS_LOG_TO_STDOUT=true
    restart: on-failure
    volumes:
      - .:/app:z
    ports:
      - '9394:9394'
    command: bundle exec prometheus_exporter -b 0.0.0.0 -t 50 --verbose -a lib/prometheus/graphql_collector.rb -a lib/prometheus/business_collector.rb
  sidekiq:
    image: compliance-backend-rails
    restart: on-failure
    volumes:
      - .:/app:z
    depends_on:
      - redis
    command: bundle exec sidekiq
    environment:
      - MALLOC_ARENA_MAX=2
      - SETTINGS__REDIS_URL=redis:6379
      - SETTINGS__PROMETHEUS_EXPORTER_HOST=prometheus
      - DATABASE_SERVICE_NAME=postgres
      - POSTGRES_SERVICE_HOST=db
      - POSTGRESQL_DATABASE=compliance_dev
      - POSTGRESQL_TEST_DATABASE=compliance_test
      - POSTGRESQL_USER=postgres
      - SIDEKIQ_CONCURRENCY=5
  redis:
    image: redis:latest

