version: "3"
services:
  db:
    image: postgres
    restart: on-failure
    volumes:
      - ./tmp/insights-compliance-db:/var/lib/postgresql/data:z
  rails:
    build: .
    image: compliance-backend-rails
    tty: true
    stdin_open: true
    restart: on-failure
    environment:
      - DATABASE_SERVICE_NAME=postgres
      - POSTGRES_SERVICE_HOST=db
      - POSTGRESQL_DATABASE=compliance_dev
      - POSTGRESQL_TEST_DATABASE=compliance_test
      - POSTGRESQL_USER=postgres
      - SETTINGS__PROMETHEUS_EXPORTER_HOST=prometheus
    ports:
      - '3000:3000'
    volumes:
      - .:/app:z
    depends_on:
      - db
      - prometheus
  reports-consumer:
    image: compliance-backend-rails
    restart: on-failure
    command: bundle exec racecar -l log/consumer.log ComplianceReportsConsumer
    volumes:
      - .:/app:z
    environment:
      - SETTINGS__REDIS_URL=redis://redis:6379
      - SETTINGS__PROMETHEUS_EXPORTER_HOST=prometheus
      - DATABASE_SERVICE_NAME=postgres
      - POSTGRES_SERVICE_HOST=db
      - POSTGRESQL_DATABASE=compliance_dev
      - POSTGRESQL_TEST_DATABASE=compliance_test
      - POSTGRESQL_USER=postgres
      - KAFKAMQ=kafka:29092
    depends_on:
      - db
      - prometheus
  # inventory-consumer:
  #   image: compliance-backend-rails
  #   restart: on-failure
  #   entrypoint: bash -c 'KAFKAMQ=kafka:29092 bundle exec racecar -l log/inventory-consumer.log InventoryEventsConsumer'
  #   volumes:
  #     - .:/app:z
  #   depends_on:
  #     - db
  #     - prometheus
  prometheus:
    image: compliance-backend-rails
    restart: on-failure
    volumes:
      - .:/app:z
    ports:
      - '9394:9394'
    command: bundle exec prometheus_exporter -a lib/graphql_collector.rb
  sidekiq:
    image: compliance-backend-rails
    restart: on-failure
    volumes:
      - .:/app:z
    depends_on:
      - redis
    command: bundle exec sidekiq
    environment:
      - MALLOC_ARENA_MAX=2
      - SETTINGS__REDIS_URL=redis://redis:6379
      - SETTINGS__PROMETHEUS_EXPORTER_HOST=prometheus
      - DATABASE_SERVICE_NAME=postgres
      - POSTGRES_SERVICE_HOST=db
      - POSTGRESQL_DATABASE=compliance_dev
      - POSTGRESQL_TEST_DATABASE=compliance_test
      - POSTGRESQL_USER=postgres
  redis:
    image: redis:latest

networks:
  default:
    external:
      name: docker_default # should match insights-upload's network name
